body {
    background-image: url(https://static.vecteezy.com/system/resources/thumbnails/002/204/194/small/technology-background-design-in-white-color-free-vector.jpg);
}


header {
 color: rgb(250, 111, 238);
 text-shadow: 3px 3px 3px rgb(255, 245, 245);
 font-family: 'Permanent Marker', cursive;
 font-size:700%;
 display: flex;
 justify-content: center;
 margin-top: 4%;
 margin-bottom: 1em;
}

.msj-or-img {
    color: rgb(8, 8, 8);
    text-shadow: 1px 1px 2px rgb(255, 245, 245);
    font-size:large;
    font-weight: 700;
}

#card {
    margin-bottom: 5px;
}

#headline {
    margin-bottom: 5px;

}

div {
    margin-bottom: 5px;
}


/*grillas*/
.principal-grid {
color: blueviolet;
display: grid;
grid-template-columns: repeat(4, 09em);
justify-content: center;
}

.articles {
    grid-column: 1/5;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 50% 50%;
}

.article {
    grid-column: 1/2;
}

.price {
    grid-column: 2/3;
}

.msj-or-img {
    grid-row: 2/3;
    grid-column: 1/5;
}

.inputs {
    grid-row: 3/4;
    grid-column: 1/5;
    display: grid;
    
}